*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
}
a{
    text-decoration: none;
}
/*SIDEBAR*/

.sidebar{
    width: 16vw;
}
#sidebar{
    background-color: #ffffff;
    border-top-right-radius: 30px;
    height: 100vh;
    box-shadow: 0 5px 15px gray;
    overflow-y: scroll;
}
#sidebar::-webkit-scrollbar{
    display: none;
}
.icon{
    background-color: #ffffff;
    border-radius: 20px;
    width: 12vw;
    height: 6vh;
    margin-bottom: 5vh;
    box-shadow: 5px 3px 5px rgb(184, 184, 184);
    transition: all .25s;
}
.icon:hover{
    background-color: #dadada;
    cursor: pointer;
}

.icon-active{
    background-color: #a5a5a5;
    border-radius: 20px;
    width: 12vw;
    height: 6vh;
    margin-bottom: 5vh;
    box-shadow: 5px 3px 5px rgb(184, 184, 184);
    cursor: pointer;
    transition: all .25s;
}

.icon-active:hover{
    background-color: #838383;
}

.iconimg{
    width: 1.8vw;
    margin: 0 10px 0 20px;
    padding-top: 15%;
}
.icontxt{
    color: #757575;
    font-weight: 600;
    padding-top: 7%;
}

.icontxt-active{
    color: white;
    font-weight: 600;
    padding-top: 7%;
}

/*NAVBAR*/

.colBar{
    z-index: -1;
    position: absolute;
    background-color: #0c8652;
    width: 100%;
    height: 6vh;
}

.main{
    width: 100%;
}

.BarNav{
    height: 6vh;
}

/*NavBar Parte Izquierda*/
.menubtn{
    margin: 0 5px 0 5px;

}
.search{
    border: 0;
    width: 16vw;
    height: 4vh;
    border-radius: 15px;
    margin: 0 10px 0 10px;
    font-size: 14px;
}
.searcher{
    position: relative;
}
.searchButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14.5vw;
}
a:hover{
    cursor: pointer;
}
input::placeholder{
    padding-left: 10px;
    font-weight: 500;
    color: #cacaca;
}
/*NavBar Parte Derecha*/
.userInfo{
    margin-right: 8px;
    border-left: 2px solid white;
}
.userName{
    color: white;
    font-size: 14px;
}
.userIcon{
    margin-right: .5vw;
    margin-left: 1.3vw;
}

/*CONTENIDO DE LA PAGINA*/
.pageBody{
    font-family: 'Courier New', Courier, monospace;
}